.main-body {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 80, 114);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-body__container {
  background: white;
  width: 35vw;
  border-radius: 13px;
  padding: 30px 30px 0 30px;
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
  position: relative;
}

.main-body__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}

.main-body__button {
  width: 75%;
  background: rgb(255, 80, 114);
  color: white;
  transition: all 0.4s ease;
  border: 2px solid white;
}

.main-body__button:hover {
  color: rgb(255, 80, 114);
  background: white;
  border: 2px solid rgb(255, 80, 114);
}

.main-body__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-body__form * {
  height: 3rem;
  margin-bottom: 0.6rem;
  border-radius: 5px;
}

.main-body__input {
  width: 100%;
  text-align: center;
  background: #f1f1f1;
  border: inherit;
}

.main-body__input:focus,
.main-body__button:focus {
  outline: inherit;
}

.main-body__body {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767.98px) {
  .main-body__container {
    width: 60vw;
  }
}

@media (max-width: 575.98px) {
  .main-body__container {
    width: 90vw;
  }
}
